* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #414141;    /* Dark gray */
  /*background-color: #EEEEEE;*/    /* Light gray */
  font-size: 9px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

footer {
  font-size:  0.6em;
}

.page {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

html,
body,
.page {
  height: 100%;
}

.section {
  width: 100%;
  /*height: 300px;*/
  /*display: flex;
  align-items: center;
  */
}

.header {
  /*background-color: #B2D6FF;*/
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.menu {
  /*background-color: #5995DA;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*height: 80px;*/
}

.content {
  /*background-color: #EAEDF0;*/
  display: flex;
  flex-wrap: wrap;
  /*height: 600px;*/
  overflow: scroll;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*margin-left: 1.5em;*/
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #5995DA;*/
}

.thumbnail{
  width: 100%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    /*background-color: #F09A9D;*/ /* Red */
    font-size: 1em;
  }

  .section {
    padding: 5px 15px;
  }

  .container {
    padding: 10px;
    width: 50%;
  }

  .container:hover {
  }

  .page {
    /*
    width: 960px;
    margin: 0 auto;
    */
    flex-wrap: nowrap;

  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /*background-color: #F5CF8E;*/ /* Yellow */
    font-size: 1.2em;
  }
  .section {
    padding: 20px;
  }
  .container {
    padding: 15px;
    width: 25%;
  }

  .container:hover {
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    /*background-color: #EEEEEE;*/ /* Blue */
    font-size: 1.3em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }

  .page {
    /*
    width: 960px;
    margin: 0 auto;
    */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

  }

  .header {
    width: 25%;
  }

  .section {
    padding: 25px;
    /*overflow: auto;*/
  }
  .menu {
    font-size: 1em;
  }
  .container {
    padding: 25px;
    width: 25%;
  }

  .container:hover {
      box-shadow: 0 0 5px #414141;
  }

}


.logo-block {
  display:  flex;
  align-items: center;
}

.logo {
  height: auto;
  width: 1em;
  margin-right: .5em;
}







div.h1.banner {
  font-size: xx-small;
  width: max-content;
  height: min-content;
  position: relative;
  top: -16%;
  place-self: end;
  right: 20%;
}


details.click[open] span.click {
  /* on click, the left grid item is lost and the column gap is lost as well so
   * compensate with the same value used for the column gap */
  margin-left: var(--column-gap);
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  justify-content: center;
  /* Create new stacking context for text pseudoelement (the :before one) */
  position: relative;
}

details.click[open] span.click:after {
  content: attr(title);
  border: none;
  font-size: .7rem;
  text-align: justify;
  align-self: center;
  margin: 0;
  height: min-content;
  width: var(--cover-width);
  background: #EEEEEE;
  z-index: 998;
  color: var(--fg-color);
  padding: .7rem .6rem .5rem .7rem;
  box-sizing: border-box;
  transition: all .5s var(--hover-delay) var(--transition-fn);
  /* Create new stacking context */
  position: absolute;
  top: 0;
  border: 2px double #d49a1e;
  border-top: 2px outset #ab6a2d;
  -webkit-text-fill-color: black;
  -webkit-background-clip: none;
}

details.click[open] span.click:before {
  border: none;
  background-color: var(--bg-color);
  background-image: url("images/3.jpg");
  width: var(--cover-width);
  height: var(--cover-height);
  background-size: var(--cover-bg-size);
  image-rendering: optimizespeed;
  background-repeat: no-repeat;
  background-clip: border-box;
  transition: all 0.5s var(--hover-delay) var(--transition-fn), background-image 5s var(--hover-delay) var(--transition-fn);
  background-position-x: -35px;
  background-position-y: -17px;
  border-top-right-radius: 18px;
  border-top-left-radius: 8px;
  display: block;
  color: var(--blood);
  /* Create new stacking context */
  position: absolute;
  top: calc(100% - var(--cover-height));
  z-index: 2;
}


figcaption a {
  text-decoration: underline;
}

body>figure.zoom {
  grid-column: 1 / span 12;
  grid-row: 1 / span 2;
  contain: layout paint;
}

figure.zoom, figure.zoom img, a.zoom {
  display: none;
}

figure.zoom:target~* {
  display: none;
}

figure#image3:target,
figure#image5:target,
figure#image10:target {
  display: flex;
  flex-direction: column;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: max-content;
}

figure.zoom:target a.zoom {
  display: initial;
}

figure.zoom:target img {
  min-height: max-content;
  max-width: min-content;
  display: inline-flex;
  object-fit: contain;
  object-position: top;
  height: max-content;
  width: 95vw;
  align-self: center;
}

figure.zoom figcaption {
  display: initial;
  z-index: 2;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px 5px;
  position: sticky;
  width: max-content;
  margin: 0 auto;
}