
.page {
  display: flex;
  flex-wrap: wrap;
}


.section {
  width: 100%;
/*  height: 300px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #B2D6FF;
}

.menu {
  background-color: #5995DA;
  height: 80px;
  justify-content: safe left;
}

.content {
  background-color: #EAEDF0;
  /*height: 600px;*/
}



body {
  color: #414141;    /* Dark gray */
  /*background-color: #EEEEEE;*/    /* Light gray */

  font-size: 18px;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}


.logo-block {
  display:  flex;
  align-items: center;
}

.logo {
  height: auto;
  width: 1em;
  margin-right: .5em;
}

.container {
  /*position:  relative;*/
  /*float:  left;*/
  /*overflow: hidden;*/
/*  width:  50%;*/
}