* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #414141;    /* Dark gray */
  /*background-color: #EEEEEE;*/    /* Light gray */
  font-size: 9px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}


.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100px;
  /*height: 300px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #B2D6FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu {
  background-color: #5995DA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*height: 80px;*/
}

.content {
  background-color: #EAEDF0;
  display: flex;
  flex-wrap: wrap;
  /*height: 600px;*/
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.5em;
}

.thumbnail {
  /*width:  50%;*/
}









.logo-block {
  display:  flex;
  align-items: center;
}

.logo {
  height: auto;
  width: 1em;
  margin-right: .5em;
}